@page "/stock-delete-by-id"
@inject HttpClient Http

<h3>Delete Stocks By Choosing Company</h3>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please choose the company name</h5>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Company Name</label>
            <div class="col-sm-8">
                <select class="form-control" @onchange="SelectCompany" @onclick="IsSelecting">
                    <option value=0>Choose</option>
                    @if (companies == null)
                    {
                        <p>companies null</p>
                    }
                    else
                    {
                        @foreach (var company in companies)
                        {
                            <option value=@company.Id>@company.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-8">
                <button type="button" class="btn btn-primary" @onclick="ChangeSitutation">Select</button>
            </div>
        </div>
    </div>
</div>

@if (selecting)
{
    @if (companyId != 0 && key)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Please choose the warehouse name</h5>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Warehouse Name</label>
                    <div class="col-sm-8">
                        <select class="form-control" @onchange="SelectWarehouse" @onclick="IsSelectingWarehouse">
                            <option value=0>Choose</option>
                            @if (warehouses == null)
                            {
                                <p>warehouses null</p>
                            }
                            else
                            {
                                @foreach (var warehouse in warehouses)
                                {
                                    @if (warehouse.CompanyId == companyId)
                                    {
                                        <option value=@warehouse.Id>@warehouse.Name</option>
                                    }

                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-primary" @onclick="ChangeSitutationWarehouse">Select</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (companyId != 0 && !key)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Please choose the warehouse name</h5>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Warehouse Name</label>
                    <div class="col-sm-8">
                        <select class="form-control" @onchange="SelectWarehouse" @onclick="IsSelectingWarehouse">
                            <option value=0>Choose</option>
                            @if (warehouses == null)
                            {
                                <p>warehouses null</p>
                            }
                            else
                            {
                                @foreach (var warehouse in warehouses)
                                {
                                    @if (warehouse.CompanyId == companyId)
                                    {
                                        <option value=@warehouse.Id>@warehouse.Name</option>
                                    }

                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-primary" @onclick="ChangeSitutationWarehouse">Select</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

@if (selectingWarehouse && showStockList)
{
    @if (warehouseId != 0 && keyWarehouse)
    {
        <h3>List of stocks</h3>
        @if (warehouses == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Piece</th>
                        <th>Warehouse Id</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var stock in stocks) //UpdateWarehouse'dan veri gönder liste güncellenecek
                    {
                        @if (warehouseId == stock.WarehouseId)
                        {
                            <tr>
                                <td>@stock.Id</td>
                                <td>@stock.Name</td>
                                <td>@stock.Price $</td>
                                <td>@stock.Piece</td>
                                <td>@stock.WarehouseId</td>
                                <td><button class="btn btn-danger" @onclick="(() => Delete(stock.Id))">Delete</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
    @if (warehouseId != 0 && !keyWarehouse)
    {
        <h3>List of stocks</h3>
        @if (warehouses == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Piece</th>
                        <th>Warehouse Id</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var stock in stocks) //UpdateWarehouse'dan veri gönder liste güncellenecek
                    {
                        @if (warehouseId == stock.WarehouseId)
                        {
                            <tr>
                                <td>@stock.Id</td>
                                <td>@stock.Name</td>
                                <td>@stock.Price $</td>
                                <td>@stock.Piece</td>
                                <td>@stock.WarehouseId</td>
                                <td><button class="btn btn-danger" @onclick="(() => Delete(stock.Id))">Delete</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
}

@if (showKey)
{
    <DeleteDialogBox Title="WARNING !!!" Text="Are you sure for delete operation?" OnClose="OnClose"></DeleteDialogBox>
}



@code
{
    //variables for binding
    public string companyIdString = "";
    public int companyId = 0;
    public string warehouseIdString = "";
    public int warehouseId = 0;
    public int stockId = 0;

    //variables for check situations to show list
    public bool selecting = true;
    public bool key = false;
    public bool showKey = false;
    public bool keyWarehouse = true;
    public bool selectingWarehouse = true;
    public bool showStockList = true;
    public bool operationKey = false;

    public void IsSelecting()
    {
        selecting = false;
    }
    public void IsSelectingWarehouse()
    {
        selectingWarehouse = false;
        showStockList = false;
    }
    public void ChangeSitutation()
    {
        selecting = true;
        key = true ? false : true;
    }
    public void ChangeSitutationWarehouse()
    {
        selectingWarehouse = true;
        showStockList = true;

        if (keyWarehouse == true)
        {
            keyWarehouse = false;
        }
        else
        {
            keyWarehouse = true;
        }
    }
    public void SelectCompany(ChangeEventArgs e)
    {
        companyIdString = e.Value.ToString();
        companyId = Int32.Parse(companyIdString);
    }
    public void SelectWarehouse(ChangeEventArgs e)
    {
        warehouseIdString = e.Value.ToString();
        warehouseId = Int32.Parse(warehouseIdString);
    }
    public void Delete(int id)
    {
        stockId = id;
        showKey = true;
    }
    public void OnClose(bool _key)
    {
        showKey = false;
        operationKey = _key;
        NewMethod(stockId);
    }
    public void NewMethod(int id)
    {
        if (operationKey)
        {
            Http.DeleteAsync($"api/stocks/{id}");
            var x = stocks.Where(i => i.Id == id).ToList();
            stocks.Remove(x.First());
            showKey = false;
        }
    }

    //api consuming
    public List<Company> companies;
    public List<Warehouse> warehouses;
    public List<Stock> stocks;
    protected override async Task OnInitializedAsync()
    {
        companies = await Http.GetFromJsonAsync<List<Company>>("api/CompanyInformations");
        warehouses = await Http.GetFromJsonAsync<List<Warehouse>>("api/Warehouses");
        stocks = await Http.GetFromJsonAsync<List<Stock>>("api/Stocks");
    }
}
